.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 11.5rem;
  padding: 5rem;
  border-bottom: 2px solid var(--green-100);
  padding-bottom: 1rem;
}

.body {
  width: 100%;
  height: auto;
  padding: 5rem;
  margin-top: -4rem;

  h1{
    text-align: center;
  }
}



.users {
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    button {
      padding: 5px;
      cursor: pointer;
    }
  }
}
